<div class="content_boxes">
    <a href="/recipes">
    <div class="content_box">
        <div class="box_picture"><img src="/img/recipes_icon.svg"></div>
        <div class="box_header"><h2>View Recipes</h2></div>
        <div class="box_description"><p>View existing recipes created by the Prepaware community.</p></div>
    </div>
    </a>

    <a href="/items">
    <div class="content_box">
        <div class="box_picture"><img src="/img/items_icon.svg"></div>
        <div class="box_header"><h2>View Items</h2></div>
        <div class="box_description"><p>View existing grocery items that have been added by the Prepaware community.</p></div>
    </div>
    </a>

    <a href="/create">
    <div class="content_box">
        <div class="box_picture"><img src="/img/create_icon.svg"></div>
        <div class="box_header"><h2>Add/Create</h2></div>
        <div class="box_description"><p>Contribute to the Prepaware community and add an item or create a recipe!</p></div>
    </div>
    </a>
</div>