<table class="catalogue">
    <thead>
    <tr>
        <td colspan="3">Product Information</td>
        <td colspan="6">Nutrition</td>
    </tr>
    <tr>
        <td class="product_fact">Category</td>
        <td class="product_fact">Brand</td>
        <td class="product_fact">Name</td>
        <td class="nutrition_fact">Weight (g/mL)</td>
        <td class="nutrition_fact">Price ($)</td>
        <td class="nutrition_fact">Cals</td>
        <td class="nutrition_fact">Carbs (g)</td>
        <td class="nutrition_fact">Fat (g)</td>
        <td class="nutrition_fact">Prot (g)</td>
    </tr>
    </thead>
    <tbody>
    <tr>

        <td></td>
    </tr>
    </tbody>
</table>