<form id="item_create" method="POST" action="">


    <div id="create-item_product-info">
        <h3>Product Information</h3>
        <div class="input_field" id="input_long">
        <label for="title">Category:</label>
        <select id="category" id="category" name="category" size="1">
            <option value="beverages">Beverages</option>
            <option value="bread_bakery">Bread/Bakery</option>
            <option value="canned_jarred">Canned/Jarred Goods</option>
            <option value="dairy">Dairy</option>
            <option value="dry_baking">Dry/Baking Goods</option>
            <option value="frozen_foods">Frozen Foods</option>
            <option value="meat">Meat</option>
            <option value="produce">Produce</option>
            <option value="other">Other</option>
        </select>
        </div>

        <div class="input_field" id="input_long">
        <label for="title">Brand: </label>
        <input type="text" id="brand" name="brand" value="">
        </div>

        <div class="input_field" id="input_long">
        <label for="title">Name: </label>
        <input type="text" id="name" name="name" value="">
        </div>

    </div>

    <div id="create-item_nutritional-info">

        <br>
        <div class="input_field" id="input_short">
        <label for="title">Total Price: </label>
        $ <input type="text" id="price" name="price" value="" style="size: 50px">
        </div>

        <div class="input_field" id="input_short">
        <label for="title">Number of Servings: </label>
        <input type="text" id="servings" name="servings" value="">
        </div>

        <h3>Nutritional Information (per serving)</h3>

        <div class="input_field" id="input_short">
        <label for="title">Weight: </label>
        <input type="text" id="weight" name="weight" value=""> g/mL
        </div>

        <div class="input_field" id="input_short">
        <label for="title">Calories: </label>
        <input type="text" id="calories" name="calories" value="">
        </div>

        <div class="input_field" id="input_short">
        <label for="title">Carbs: </label>
        <input type="text" id="carbs" name="carbs" value=""> g
        </div>

        <div class="input_field" id="input_short">
        <label for="title">Fat: </label>
        <input type="text" id="fat" name="fat" value=""> g
        </div>

        <div class="input_field" id="input_short">
        <label for="title">Protein: </label>
        <input type="text" id="protein" name="protein" value=""> g
        </div>
    </div>

    <br>
    <div class="input_field">
    <input type="submit" value="Add">
    </div>

</form>