<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prepaware</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>

<body>

    <div id="website_title">
        <h1>Prepaware</h1>
    </div>

    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <p>•</p>
            <li><a href="/recipes">Recipes</a></li>
            <p>•</p>
            <li><a href="/items">Items</a></li>
            <p>•</p>
            <li><a href="/create">Create</a></li>
        </ul>
    </div>

    <div id="page_content">
        {{{body}}}
    </div>

    <div id="footer">
        <p>Icons used on this website were designed by <a href="https://www.flaticon.com/authors/smashicons" target="_blank">Smashicons</a> and <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a> from Flaticon</p>
    </div>

</body>

</html>