<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prepaware</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>

<body>
    <div id="website_title"><h1>Prepaware</h1></div>
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </div>

    {{{body}}}

</body>

</html>