@import "node_modules/sass-web-fonts/_web-fonts.scss";

@import url(web-fonts-url("Carter One"));
@import url(web-fonts-url("Acme"));

$title_font: "Carter One", sans-serif;
$content_font: "Acme", sans-serif;

$large_font_size: 30px;
$medium_font_size: 22px;
$small_font_size: 15px;
$tiny_font_size: 10px;

$center: auto;

$max_width: 100%;
$min-width: 750px;
$default_width: 70%;

$no_spacing: 0px;
$minimal_spacing: 5px;
$moderate_spacing: 10px;
$large_spacing: 20px;

$primary_color: black;
$secondary_color: lightgray;

* {
  box-sizing: border-box;
  margin: $no_spacing;
}

body {
  min-width: $min-width;
}

#website_title {
  font-family: $title_font;
  font-size: $large_font_size;
  width: $default_width;
  margin: $center;
  padding: $no_spacing;
  text-align: center;

  h1 {
    margin: $minimal_spacing;
  }

}

#navbar {
  background-color: $secondary_color;
  font-family: $title_font;
  font-size: $medium_font_size;
  width: $max_width;
  min-width: $min-width;
  margin: $center;
  text-align: center;
  position: fixed;

  ul {
    list-style: none;
  }

  p {
    display: inline;
    margin: $no_spacing $moderate_spacing;
  }

  li {
    display: inline-block;

    a {
      text-decoration: none;
      color: $primary_color;
    }

    a:hover {
      text-decoration: underline;
    }

  }

}

#page_content {
  margin: 70px $center 0px $center;
  width: $default-width;
  min-width: $min-width;
  padding: $moderate_spacing;
  min-height: 300px;
  font-family: $content_font;
}

.content_boxes {
  text-align: center;
}

a .content_box {
  vertical-align: top;
  text-decoration: none;
  color: black;
}

.content_box {
  background-color: $secondary_color;
  height: 300px;
  width: $default_width / 3;
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
  padding: $large-spacing $moderate_spacing;
  vertical-align: top;

  .box_picture img {
    width: 100px;
  }

  .box_header {
    font-family: $title_font;
    font-size: $small_font_size;
    margin-top: $minimal_spacing;
  }

  .box_description {
    height: 50%;
    margin-top: $minimal_spacing;
  }

}

.catalogue {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  text-align: left;

  td {
    border: 1px #272727 solid;
    text-align: center;
  }

  thead {
    background-color: lightgray;

    td {
      font-weight: bold;
    }

  }

}

#footer {
  margin: 5px $center;
  width: $default_width;
  padding: $moderate_spacing;
  font-family: $content_font;
  font-size: $tiny_font_size;
  text-align: center;
  font-style: italic;
}